* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h1{
    font-size: 38px;
    font-family: Caslon Bold,serif;
    font-weight: 400;
    font-style: normal;}
    p{
      font-size: 17px;
      font-family: Questrial,sans-serif;
      font-weight: 400;
      line-height: 1.5;
  }

.container{
    width: 85%;
   display: flex;
   margin: auto;
   }
 
   .section_one .content1{
    width: 50%;
    text-align: center;
    background-color: #F8F4EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
}

.section_one .content2{
    width: 50%;
    border-radius: 10px;
    color: #fff;
    border-color: #0000;
text-align: left;
    margin-top: 8%;
}
.section_one .content2 img{
    width: 70%;
    background-color: red;
    border-radius: 70%;
    border: 1px solid black;
}
/*end section 1*/

.section_2 .d{
    width: 60%;
      border-radius: 10px;
  margin: auto;
  text-align: center;
  padding: 60px;
}
/*end section 2*/

.section_4 .content_4{
    padding: 20px;
    display: flex;

}
 .div_4{
    width: 30%;
}
.div_2{
    width: 30%;
    padding-left: 10%
}
.div_3{
    width: 30%;
    height: 500px;
    padding-left: 30%;
    margin-bottom: 20%;
}

.section_5 .content1{
    width: 200%;
    text-align: left;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: auto;
    height: 400px;
}
     .section_5 .content5{
        width: 40%;
        height: 10%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        height: 400px;
    }
    
    .form{
        width: 40%;
        height: 20%;
        border-radius: 10px;
        border-color: #0000;
        text-align: right;
        padding: 30px 30px 30px 0px;
        background-color:#C2CEB1;
        margin-left: 10%;
        margin-bottom: 10%;
    }
   .Brand {
    font-family: Questrial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-left: 10%;
    background-color: #354638;
    border: 2px solid #354638;
    color: #fffefe;
    text-align: center;
    display: flex;
    padding: 12px 15px;
    margin-top: 50px;
}


.Brand:hover {
    background-color: #c2cfb0;
    color: #354638;
}
.gallery{
    margin: 4% 10%
}